 @charset "UTF-8";
 
 body {
            background-color: rgb(101, 95, 155);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20p;
        }

        h1{
            color: mediumblue;
            background-color: rgb(128, 129, 190);
            text-decoration: ;
        }
        
        h2{
            color: darkred;
        }
        
        p{
            text-align: justify;
        }