@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}
header {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 33px 0px;
}
nav {
    background-color: rgb(82, 81, 81);
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.61);
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}
article {
    background-color: lightgrey;
    box-shadow: 10px 7px 15px 5px rgba(0, 0, 0, 0.61)   ;
}
article > aside {
    background-color: rgb(134, 134, 134);
    padding: 1px;
}
main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 0px 33px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.61);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
}
footer > p {
    margin: 0px;
}