@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #8345edbd, #4574ED, #BA45ED);

}

main {
    background-color: white;
    padding: 10px; /* Espaçamento interno do texto distancia das bordas */
    width: 600px; /* Largura fixa do conteudo */
    margin: auto; /* Centraliza o conteudo na tela */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 10px 10px 15px #00000070; /* Sombra ao redor do conteudo */
}

h1 {
    color: #4B45ED;
    text-align: center;
    text-shadow: 1px 1px 2px #191674d0;
}

h2 {
    color: #BA45ED;
}

p {
    text-align: justify;
}